.usersContainer{
  position: relative;
}
.monthName{
  width: 250px;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #000000;
}

.monthName:hover{
  box-shadow: 0 0 10px #000000;
  cursor: pointer;
}

.listOfUsers{
  display: none;
  position: absolute;
  top: 0;
  left: 300px;
  padding: 10px;
  box-shadow: 0 0 10px #000000;
}

.displayUsers{
  display: table;
}
