.usersContainer{
  max-width: 300px;
  margin: 0 auto;
}
.monthName{
  text-align: center;
  padding: 10px;
  border-top: 1px solid #000000;
}

.monthName:hover{
  box-shadow: 0 0 10px #000000;
  cursor: pointer;
}

.listOfUsers{
  margin: 0 auto;
  display: none;
  transition-delay: 1s;
}

.monthContainer:hover .listOfUsers{
  display: table;
}
